body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    border-radius: 6px;
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #F2F3F5;
    color: #2b2839;
    box-shadow: 4px 4px 10px 2px rgba(102, 102, 102, 0.2);
    border-bottom: 6px solid transparent;
    border-image: linear-gradient(
        90deg,
        #cfa474,
        #e8c99a,
        #f5ddb5,
        #e8c99a,
        #cfa474
    ) 1;

    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.card:hover .avatar {
    animation: rotatingAvatar 1s linear 2;
}

@keyframes rotatingAvatar {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}
/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/